#letramusicaDiv {
        font-size: larger;
        font-weight: bold;
        text-align: center;
}

#submitBtn {
        margin-top: 10px;
        padding: 10px;
        cursor: pointer;
}

#questions{
        font-size: larger;
        text-align: center;

}

input {
        padding: 4px;

}

#artistaInput{
        margin-bottom: 10px;

}
